# Tugas Besar 1 - Bagian D 

## Kelompok XX K- 3 
1. Pandyaka Aptanagi - 13517003
2. I Putu Gede Wirasuta - 13517015
3. M. Rifky I. Bariansya - 13517081
4. Gardahadi - 13517144

## I. Import Library Standar dan Classifier

In [1]:
#Import Standard Libraries
import pandas as pd
import matplotlib.pyplot as plt

import numpy as np
%matplotlib inline

In [2]:
# Import DTL Classifier
from clf.mlp import MyMlp
from clf.c45 import C45
from clf.utils import read_csv, scale_data
from clf.c45_numeric_handler import process_numeric

In [3]:
# Import ANN

## II. Mendefinisikan Fungsi Bantuan

In [4]:
#Function Import Data

def import_data(path, sep=',',dropna=True, drop_duplicates=True):
    data = pd.read_csv(path, sep)
    print("Import Berhasil")
    print("Banyaknya baris dan kolom", data.shape)
    print("Banyaknya data duplicate", data.duplicated().sum())
    data = data.drop_duplicates() if drop_duplicates else data
    data = data.dropna() if dropna else data
#     print(data.head())
    return data

In [14]:
#Function to Extract Input and Output

def extract_feature_target(data, output):
    y = data[output]
    x = data.drop(output, axis=1)
    #print(x.columns) #optional
    #print(y.head()) #optional
    return x,y

In [6]:
#function to split train test data (default test_size = 0.4)
from sklearn.model_selection import train_test_split

def train_test_data(x,y, _test_size = 0.4): 
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =_test_size,
                                                        random_state =100)
    print("Training Data :")
    print(x_train.head(), y_train.head()) #
    print(" Testing Data :" )
    print(x_test.head(), y_test.head()) #
    return x_train, x_test, y_train, y_test

In [7]:
#Function to evaluate score
from sklearn.metrics import accuracy_score

def scoring(model, x_test, y_test) :
    y_predict = model.predict(x_test)
    print("Model Score based on test data")
    print(accuracy_score(y_test, y_predict))

# Bagian 1 : Eksperimen Skema Hold-out Validation

## 1.1 Pembelajaran DTL

## 1.2 Pembelajaran ANN

# Bagian 2 : Eksperimen Skema 10-fold Cross Validation

## 2.1 Pembelajaran DTL

## 2.2 Pembelajaran ANN

# Bagian 3 : Penyimpanan dan Pemanggilan Model

## 3.1 Menyimpan Model dalam file .txt

## 3.2 Memanggil Model

# Bagian 4 : Analisis Eksperimen Bagian 1 & 2

# Testing Cross Validate

In [8]:
df = import_data('../Bagian C/datasets/iris.csv',',')

Import Berhasil
Banyaknya baris dan kolom (150, 5)
Banyaknya data duplicate 3

In [11]:
df.head()

   sepal_length   sepal_width   petal_length   petal_width  species
0           5.1           3.5            1.4           0.2   setosa
1           4.9           3.0            1.4           0.2   setosa
2           4.7           3.2            1.3           0.2   setosa
3           4.6           3.1            1.5           0.2   setosa
4           5.0           3.6            1.4           0.2   setosa

In [15]:
x, y = extract_feature_target(df, ' species')

In [17]:
from clf.mlp import MyMlp
from clf.c45 import C45
from clf.utils import read_csv, scale_data
from clf.c45_numeric_handler import process_numeric

In [19]:
myclf = MyMlp(input_layer, hidden_layer, output_layer, epochs=2500, learning_rate=0.02)
myc45 = C45()
myc45.label = list(x.columns)

In [31]:
from sklearn.model_selection import cross_validate

model = Pipeline([
    ('clf', myc45) #step2 - classifier (default : LogisticRegression )
])

x_temp = process_numeric(np.vectorize(str)(x.values), y.values)
scores = cross_validate(model, x_temp, y.values, cv=5, scoring='accuracy')
for key, values in scores.items():
        print(key,' mean ', values.mean())
        print(key,' std ', values.std())
print(scores)

fit_time  mean  0.007890748977661132
fit_time  std  0.002112867026693262
score_time  mean  0.0005492210388183594
score_time  std  0.00010013155701126581
test_score  mean  0.3820689655172414
test_score  std  0.3811641221186584
{'fit_time': array([0.01111913, 0.00970721, 0.0064857 , 0.00609159, 0.00605011]), 'score_time': array([0.00049376, 0.00054407, 0.00074387, 0.00049114, 0.00047326]), 'test_score': array([1.        , 0.6       , 0.        , 0.31034483, 0.        ])}